@model Student_Management.Models.Giaovien

@{
    ViewData["Title"] = "Chi tiết Giáo viên";
}

<h2>@ViewData["Title"]</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Mã GV</dt>
        <dd class="col-sm-10">@Model.MaGv</dd>
        <dt class="col-sm-2">Họ Tên</dt>
        <dd class="col-sm-10">@Model.HoTen</dd>
        <dt class="col-sm-2">Ngày Sinh</dt>
        <dd class="col-sm-10">@Model.NgaySinh</dd>
        <dt class="col-sm-2">Giới Tính</dt>
        <dd class="col-sm-10">@Model.GioiTinh</dd>
        <dt class="col-sm-2">Địa Chỉ</dt>
        <dd class="col-sm-10">@Model.DiaChi</dd>
        <dt class="col-sm-2">SĐT</dt>
        <dd class="col-sm-10">@Model.Sdt</dd>
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
        <dt class="col-sm-2">Môn học</dt>
        <dd class="col-sm-10">@Model.MaMonHocNavigation?.TenMonHoc</dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.MaGv">Sửa</a> |
    <a asp-action="Index">Trở về danh sách</a>
</p>